.badge {
  position: relative;
  display: inline-block;
  padding: .3rem 1rem .3rem .5rem;
  font-size: .75rem;
  font-weight: 600;
  border-radius: 4px;
  margin-right: .1rem;

  &:after {
    content: '×';
    cursor: pointer;
    display: none;
    position: absolute;
    top: .1rem;
    right: 0.2rem;
    font-size: 1rem;
    z-index: 1;
    font-weight: 200;
  }

  &:hover {
    background-color: #EDEDED;
    &:after {
      display: inline-block;
    }
  }

}