.field-container {
  & > label {
    background: #FDFDFD;
    border-radius: 8px;
    padding: .7rem 1rem;
    box-shadow: 2px 2px 20px rgba(0,0,0,.06);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & > input {
      background: inherit;
      border: none;
      outline: none;
      font-weight: 600;
      width: auto;
    }
  }
}
